In [67]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
import pickle

In [68]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB

In [70]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [71]:
data['Geography'].unique()

array(['France', 'Spain', nan, 'Germany'], dtype=object)

In [72]:
data['Geography'].value_counts()
data['Geography'] = data['Geography'].fillna('France')
data['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [73]:
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [74]:
data['HasCrCard'].value_counts()
data['HasCrCard'] = data['HasCrCard'].fillna(1.0)
data['HasCrCard'].value_counts()

HasCrCard
1.0    7057
0.0    2945
Name: count, dtype: int64

In [75]:
data['IsActiveMember'].value_counts()
data['IsActiveMember'] = data['IsActiveMember'].fillna(1.0)
data['IsActiveMember'].value_counts()

IsActiveMember
1.0    5151
0.0    4851
Name: count, dtype: int64

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10002 non-null  int64
 1   Geography        10002 non-null  object
 2   Gender           10002 non-null  object
 3   Age              10002 non-null  float64
 4   Tenure           10002 non-null  int64
 5   Balance          10002 non-null  float64
 6   NumOfProducts    10002 non-null  int64
 7   HasCrCard        10002 non-null  float64
 8   IsActiveMember   10002 non-null  float64
 9   EstimatedSalary  10002 non-null  float64
 10  Exited           10002 non-null  int64
dtypes: float64(5), int64(4), object(2)
memory usage: 859.7+ KB

In [77]:
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [78]:
data.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [79]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder.toarray()
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [80]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data['Gender']

0        0
1        0
2        0
3        0
4        0
        ..
9997     0
9998     1
9999     1
10000    0
10001    0
Name: Gender, Length: 10002, dtype: int64

In [81]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,608,Spain,0,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,502,France,0,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,699,France,0,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,850,Spain,0,43.0,2,125510.82,1,1.0,1.0,79084.10,0

In [82]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

       Geography_France  Geography_Germany  Geography_Spain
0                   1.0                0.0              0.0
1                   0.0                0.0              1.0
2                   1.0                0.0              0.0
3                   1.0                0.0              0.0
4                   0.0                0.0              1.0
...                 ...                ...              ...
9997                1.0                0.0              0.0
9998                0.0                1.0              0.0
9999                0.0                1.0              0.0
10000               1.0                0.0              0.0
10001               1.0                0.0              0.0

[10002 rows x 3 columns]

In [83]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoder_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42.0,2,0.00,1,1.0,1.0,101348.88,1,1.0,0.0,0.0
1,608,0,41.0,1,83807.86,1,0.0,1.0,112542.58,0,0.0,0.0,1.0
2,502,0,42.0,8,159660.80,3,1.0,0.0,113931.57,1,1.0,0.0,0.0
3,699,0,39.0,1,0.00,2,0.0,0.0,93826.63,0,1.0,0.0,0.0
4,850,0,43.0,2,125510.82,1,1.0,1.0,79084.10,0,0.0,0.0,1.0

In [84]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [85]:
x = data.drop('Exited', axis=1)
y = data['Exited']

In [86]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [87]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [88]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [89]:
x_train

array([[-0.19344335,  0.91360328,  0.29613055, ..., -0.99737876,
         1.72529422, -0.57710974],
       [-0.95045188,  0.91360328, -1.42278638, ..., -0.99737876,
        -0.57961128,  1.73277271],
       [ 0.10728607, -1.094567  , -0.84981407, ...,  1.00262813,
        -0.57961128, -0.57710974],
       ...,
       [ 0.87466458, -1.094567  , -0.08585099, ...,  1.00262813,
        -0.57961128, -0.57710974],
       [ 0.16950595,  0.91360328,  0.39162594, ...,  1.00262813,
        -0.57961128, -0.57710974],
       [ 0.48060534,  0.91360328,  1.15558902, ..., -0.99737876,
         1.72529422, -0.57710974]], shape=(8001, 12))

ANN IMPLEMENTATION

In [90]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense #Dense means it is fully connected neural networks
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard #EarlyStopping is used to stop the training and monitoring process when the model's performance on a validation set starts to degrade, preventing overfitting.

In [91]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

c:\Desktop\Capgemini Training\Deep Learning\dlenv\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [92]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [93]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)
early_stopping_callback

In [94]:
import datetime
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
tensorflow_callback

In [95]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [96]:
history = model.fit(x_train, y_train, validation_data=[x_test, y_test], epochs=100, callbacks=[early_stopping_callback, tensorflow_callback])

Epoch 1/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.8071 - loss: 0.4453 - val_accuracy: 0.8341 - val_loss: 0.3986
Epoch 2/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8410 - loss: 0.3795 - val_accuracy: 0.8581 - val_loss: 0.3636
Epoch 3/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8553 - loss: 0.3534 - val_accuracy: 0.8571 - val_loss: 0.3520
Epoch 4/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8570 - loss: 0.3437 - val_accuracy: 0.8546 - val_loss: 0.3502
Epoch 5/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8598 - loss: 0.3397 - val_accuracy: 0.8586 - val_loss: 0.3483
Epoch 6/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8599 - loss: 0.3361 - val_accuracy: 0.8576 - val_loss: 0.3470
Epoch 7/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8628 - loss: 0.3340 - val_accuracy: 0.8631 - val_loss: 0.3456
Epoch 8/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8656 - loss: 0.3318 - val_accuracy: 0.8596 - val_loss: 0.3470
Epoch 9/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8610 - loss: 0.3297 - val_accuracy: 0.8581 - val_loss: 0.3456
Epoch 10/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8636 - loss: 0.3271 - val_accuracy: 0.8601 - val_loss: 0.3457
Epoch 11/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8651 - loss: 0.3254 - val_accuracy: 0.8596 - val_loss: 0.3425
Epoch 12/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8653 - loss: 0.3236 - val_accuracy: 0.8626 - val_loss: 0.3444
Epoch 13/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8683 - loss: 0.3216 - val_accuracy: 0.8601 - val_loss: 0.3445
Epoch 14/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8649 - loss: 0.3199 - val_accuracy: 0.8601 - val_loss: 0.3430
Epoch 15/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8681 - loss: 0.3177 - val_accuracy: 0.8606 - val_loss: 0.3415
Epoch 16/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8684 - loss: 0.3167 - val_accuracy: 0.8576 - val_loss: 0.3456
Epoch 17/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8676 - loss: 0.3148 - val_accuracy: 0.8601 - val_loss: 0.3479
Epoch 18/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8661 - loss: 0.3142 - val_accuracy: 0.8636 - val_loss: 0.3403
Epoch 19/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8669 - loss: 0.3118 - val_accuracy: 0.8611 - val_loss: 0.3473
Epoch 20/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8683 - loss: 0.3095 - val_accuracy: 0.8636 - val_loss: 0.3427
Epoch 21/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8683 - loss: 0.3138 - val_accuracy: 0.8561 - val_loss: 0.3466
Epoch 22/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8719 - loss: 0.3073 - val_accuracy: 0.8586 - val_loss: 0.3454
Epoch 23/100
251/251 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8711 - loss: 0.3061 - val_accuracy: 0.8636 - val_loss: 0.3479

In [97]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [98]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [99]:
%tensorboard --logdir logs/fit --port 6006

Reusing TensorBoard on port 6006 (pid 31580), started 0:01:55 ago. (Use '!kill 31580' to kill it.)